@{
    ViewBag.Title = "Home";
}

<div class="jumbotron">
    <h2>Axado TAC</h2>

    <div class="col-lg-offset-7">
        <h4><strong>Transportadoras Favoritas</strong></h4>
        <ul class="list-group">
            <li class="list-group-item"><h7>Você ainda não possui nenhuma transportadora favorita</h7></li>
        </ul>
    </div>
</div>