@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Error";
}

<h1 class="text-danger">Oops :(</h1>
<h2 class="text-danger">Ocorreu um erro, tente novamente!</h2>

@if (TempData["ErrorMessage"] != null)
{
    <p>@TempData["ErrorMessage"]</p>
}