@{
    ViewBag.Title = "Verificar E-mail";
}
<h2>@ViewBag.Title.</h2>
<p class="text-info">
    Verifique seu e-mail e confirme seu endereço.
</p>
<p class="text-danger">
    DEMO: <a href="@ViewBag.Link">Cliquei aqui</a> se o envio de email estiver desabilitado
</p>
